extends ./template.jade

block content
  .container-fluid(id='About', class='show_section')
    .container: .row: .col-md-12
      br
      h3.
        Lion’s Main Art Collective is a community of queer & trans artists that showcases innovative interdisciplinary art. We foster artistic growth and collaboration in a creative and supportive space.
      br
      img.img-responsive(src='/static/people.jpg', vspace='20px')
      br
      iframe(src="https://www.google.com/calendar/embed?src=2n640pnl2vj1m54a9l7lhe4p48%40group.calendar.google.com&ctz=America/Los_Angeles", style="border-width:0", width="100%", height="600", frameborder="0", scrolling="no")
      br
